@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------------------------------Colors*/
body {
    background-color: #c2bbbba2;
}

.bg-color-name-title {
    background-color: rgb(216, 157, 47);
}

.bg-color-contact {
    background-color: #fff;
}

#nav2 li.ui-menu-color-home a  {
    background-color: #070707;
}

#nav2 li.ui-menu-color-about a {
    background-color: #ebdc0d;
}

#nav2 li.ui-menu-color-contact a {
    background-color: #ad0404;
}

/*-----------------------------------------------Specail paddings/margins/text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #e9ad08;
}

.inline-block {
    display: inline-block;
}

.history {
    width: 40vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    overflow: auto;
}

/*---------------------------------------------------------------------header*/

header {
    margin: 0;
}

.logo {
    background: url("IMG_2378.jpg");
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    width: 100%;
    padding-top: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-1 {
    background: url("images/IMG_2571.jpg");
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-2 {
    background: url("images/IMG_1859.jpg");
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    padding-top: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    font-family: "EXO", sans-serif;
    font-weight: 100;
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
    color: #dfb015;
    position: center;
}

.title {
    font-family: "Fira Sans", sans-serif;
    font-size: 40px;
    font-weight: 200;
    scroll-margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
    color: #746526;
}

/*----------------------------------------------------------------------Menu*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav2 {
    margin: 0;
    background-color: red;
}

#nav2 li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 250;
    letter-spacing: 2px;
}

/*-------------------------------------------------------------------Hover.css*/

.hvr-bounce-to-right {
    background: rgb(78, 160, 156);
    height: 120px;
}

/*-------------------------------------------------------------------------Map*/

#map {
    border: 1px solid #333;
    width: 33vw;
    display: block;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------------Carousel*/

.carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 580px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: #fafafa;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: #fafafa;
    cursor: pointer;
}

.img- {
    background: url(images/IMG_3007.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img1 {
    background: url(images/IMG_2537.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img2 {
    background: url(images/IMG_2784.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img3 {
    background: url(images/IMG_3001.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img4 {
    background: url(images/IMG_3050.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img5 {
    background: url(images/IMG_3051.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img6 {
    background: url(images/IMG_3060.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img7 {
    background: url(images/IMG_3110.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img8 {
    background: url(images/IMG_3112.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img9 {
    background: url(images/IMG_3142.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img10 {
    background: url(images/IMG_3274.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img11 {
    background: url(images/IMG_3298.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img12 {
    background: url(images/IMG_3325.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img13 {
    background: url(images/IMG_3328.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img14 {
    background: url(images/IMG_3336.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img15 {
    background: url(images/IMG_3448.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img16 {
    background: url(images/IMG_3467.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img17 {
    background: url(images/IMG_3478.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img18 {
    background: url(images/IMG_3496.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

.img19 {
    background: url(images/IMG_3502.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
    padding: 95%;
    display: block;
    background-repeat: no-repeat;
}

/*----------------------------------------------------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding-bottom: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px, 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #ff7300;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgba(88, 72, 20, 0.692);
}

footer-detials {
    padding: 20px;
}

/*----------------------------------------------------------------Contact form*/

.contact-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.btn-secondary {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #f10909;
}

/*---------------------------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .center-form {
       padding-top: 10px;
       min-height: 240px;
       margin: 0 auto;
       max-width: 50%; 
    }
} 